version: '3.8'

services:
  umacore-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: umacore-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    shm_size: 2gb
    environment:
      - DISPLAY=:99
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
